<launch>
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node pkg="xbox_joystick_teleop_mobile_robots_ros_python" type="Joyteleop_turtlebot3.py" name="robot_controller" output="screen"/>
  <param name="joy_node/dev_ff" value="/dev/input/by-id/usb-Microsoft_Controller_7EED80207CF0-event-joystick" />
</launch>